:root {
  --primary: #b6081f;
}

.btn {
  padding: 8px 20px;
  width: 150px;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  background: #fff;
  color: #b6081f;
}

.btn--primary {
  background-color: var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-in;
}

.btn--medium {
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
}

.btn--large {
  padding: 12px 26px;
  border-radius: 4px;
  font-size: 20px;
  color: #fff;
}

.btn--primary:hover, .btn--outline:hover {
  background-color: var(--primary);
  color: #ffffff;
  transition: all 0.3s ease-out;
}

.btn--medium:hover, .btn--large:hover {
  background-color: #fff;
  color: var(--primary);
  transition: all 0.3s ease-out;
}