.party-events-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    height: auto;
    background-color: #ffffff;
    padding: 10px;
}

.section-title{
    padding: 15px;
    color: #b6081f;
    font-size: 22px;
}