.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 20px;
}

.search-bar {
    width: 30vw;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #b6081f;
    padding: 8px 20px;
    box-shadow: 0 0 5px #b6081f;
}

.search-bar:focus {
    outline: none !important;
    border: 1px solid #b6081f;
    box-shadow: 0 0 5px #b6081f;
}


@media screen and (max-width: 960px) {
    .search-box {
        display: none;
    }
}

@media screen and (max-width: 520px) {}