.navbar {
  background: linear-gradient(90deg, rgba(247, 105, 43, 1) 0%, rgba(252, 132, 69, 1) 100%);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 1rem;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
}

.logo-icon {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 100px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #b6081f;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.sign-in-text {
  text-align: center;
  text-decoration: none;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.user-icon{
  color: #fff;
  cursor: pointer;
  transform: scale(1.8);
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {

  .user-icon-container{
    display: none;
  }

  .NavbarItems {
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 100px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: linear-gradient(90deg, rgba(247, 98, 60, 1) 0%, rgba(209, 55, 0, 0.9591266556291391) 100%);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: #b6081f;
    border-radius: 0;
  }
  .navbar-logo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0%, 80%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #b6081f;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }
  .nav-links-mobile:hover {
    background: #fff;
    color: #b6081f;
    transition: 250ms;
  }
  .sign-in-btn {
    display: none;
  }
}