.slider-container {
    height: auto;
    width: auto;
    padding: 10px;
}

.slick-prev:before,
.slick-next:before {
    color: #000116;
}

.section-title{
    padding: 15px;
    color: #b6081f;
    font-size: 22px;
}
